.title {
    margin-bottom: 50px;

    h2 {
        font-size: 50px;
    }

    h4 {
        font-size: 15px;
    }
}

.link-a{
  color : white;
}

.primary-input {
    background: aliceblue;
    --padding-start: 10px !important;
    color: #999999;
    border-radius: 5px;
    margin-bottom: 10px;
}