<ion-content>
  <div class="center">
    <form (ngSubmit)="registrarUsuario();">
      <h1 class="ion-text-center espacio-abajo">Sign Up</h1>
    
      <div class="espacio-abajo">
        <ion-button color="danger" expand="block" (click)="closeModal();" >Already Signed Up? Sign In!</ion-button>
        <ion-button expand="block" type="submit">Sign Up</ion-button>
      </div>
    
      <ion-input placeholder="E-mail" [(ngModel)]="usuario.email" name="email"></ion-input>
      <p class="ion-text-center error">{{errores.email}}</p>
      <ion-input placeholder="Names(s)" [(ngModel)]="usuario.nombres" name="nombres"></ion-input>
      <p class="ion-text-center error">{{errores.nombres}}</p>
      <ion-input placeholder="Last Name(s)" [(ngModel)]="usuario.apellidos" name="apellidos"></ion-input>
      <p class="ion-text-center error">{{errores.apellidos}}</p>
    
      <ion-item>
        <ion-label>Are you seller?</ion-label>
        <ion-select placeholder="Select One" name="rol" [(ngModel)]="usuario.rol">
          <ion-select-option value="Vendedor">Yes</ion-select-option>
          <ion-select-option value="Usuario">No</ion-select-option>
        </ion-select>
      </ion-item>
      <p class="ion-text-center error">{{errores.rol}}</p>
    
      <ion-input placeholder="Password" type="password" [(ngModel)]="usuario.password" name="password"></ion-input>
      <p class="ion-text-center error">{{errores.password}}</p>
      <ion-input placeholder="Confirm Password" type="password" [(ngModel)]="usuario.password_confirm" name="password"></ion-input>
      <p class="ion-text-center error">{{errores.password_confirm}}</p>
    </form>
  </div>
</ion-content>
