h1 {
    text-align: center;
}

.botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    h2 {
        background-color: white;
        color: black;
        padding: 8px;
        border-radius: 10px;
    }

    h4 {
        background-color: red;
        color: white;
        padding: 8px;
        border-radius: 10px;
    }
}