<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button color="dark" defaultHref="home-usuario"></ion-back-button>
    </ion-buttons>

    <ion-title>Ask for a product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="enviarMensaje()">
    <ion-item>
      <ion-label class="input" position="floating">Tap Here To Type Your Message</ion-label>
      <ion-input [(ngModel)]="contacto.mensaje" name="message"></ion-input>
    </ion-item>

    <ion-button expand="block" color="dark" type="submit">Send</ion-button>
  </form>
</ion-content>
